.item {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#techology{
    height: 93vh !important;
}
h4{
    font-weight: 900;
}